<section class="flex flex-col items-center px-4 relative overflow-hidden">
    <!-- Background Elements -->
    <div class="absolute inset-0 -z-10">
        <div class="absolute top-40 left-20 w-80 h-80 bg-gradient-to-br from-emerald-400/15 to-teal-600/15 rounded-full blur-3xl"></div>
        <div class="absolute bottom-20 right-20 w-96 h-96 bg-gradient-to-br from-orange-400/15 to-pink-600/15 rounded-full blur-3xl"></div>
    </div>

    <h1 class="text-5xl md:text-7xl font-serif leading-tight mb-7 mt-20" data-aos="fade-down">Meet Boll-E</h1>
    <div class="w-full flex flex-col items-center space-y-10 max-w-6xl">
        <figure
        class="w-full h-auto flex flex-col md:flex-row items-start p-8 justify-center"
        data-aos="fade-up">
        <p class="md:w-2/3 text-center font-sans text-lg py-3">Lorezzm ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
        Rem nam possimus iusto maxime quos distinc</p>
        </figure>
        <div class="w-full flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-4">
            <figure
                class="w-full md:w-1/2 h-auto rounded-2xl shadow-2xl flex flex-col items-start p-8"
                data-aos="fade-left">
                <h3 class="text-3xl font-bold font-sans mt-5">About Vision</h3>
                <p class="font-sans text-lg py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
                Rem nam possimus iusto maxime quos distinc</p>
            </figure>
            <figure
                class="w-full md:w-1/2 h-auto rounded-2xl shadow-2xl flex flex-col items-start p-8"
                data-aos="fade-up">
                <h3 class="text-3xl font-bold font-sans mt-5">About Mision</h3>
                <p class="font-sans text-lg py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
                Rem nam possimus iusto maxime quos distinc</p>
            </figure>
        </div>

    </div>
</section>