---
// src/components/Hero.astro
---

<header class="bg-brand-background text-brand-text p-4 rounded-xl">
  <!-- Navegación -->
  <nav class="container mx-auto px-6 py-4 border rounded-4xl flex justify-between items-center mt-4">
    <div class="flex items-center space-x-8">
    <a href="#hero" class="text-2xl font-bold">Boll-E</a>
    <ul class="hidden md:flex items-center space-x-6 text-sm">
      <li><a href="#about" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">About</a></li>
      <li><a href="#services" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">Services</a></li>
      <li><a href="#indicators" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">Indicators</a></li>
      <li><a href="#history" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">History</a></li>
      <li><a href="#science" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">Science</a></li>
      <li><a href="#team" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">Team</a></li>
      <li><a href="#portfolio" class="text-brand-text pb-1 hover:border-b-2 hover:border-brand-text transition-all duration-100 ease-in-out">Portfolio</a></li>
    </ul>
  </div>
    <div class="flex items-center space-x-4">
    <a href="#contact" class="bg-[#252525] hover:bg-[#f4f4f4] border-1 border-[#252525] text-white hover:text-[#252525] font-bold py-2 px-6 rounded-full hover:bg-opacity-90 transition-colors">Let´s Talk.</a>
    </div>
  </nav>
</header>